#dragline_board{margin:0 auto;display: block;width: 800px;height: 500px;position: relative;overflow: hidden;border:3px solid #333;user-select: none;}
.movebody{width: 100px;height: 100px;position: absolute;z-index: 1;}
.lines{width: 100%;height: 100%;position: absolute;}
.point1,.point2{z-index: 1;cursor: ne-resize;display: none;}
.line1,.line2{display: none;}
.selected{border: 1px solid #000;} 
.dragline_menu{width: 50px;height: 100%;float: right;background: #ccc;right: 0;position: absolute;z-index: 2;border-left:1px solid #999;}
.dragline_menu ul{ margin:0;padding: 0;width: 100%;height: 100%;list-style: none; user-select: none;}
.dragline_menu li{ text-align: center;background: #fff;cursor: pointer;}
.li_icon {line-height: 15px;font-size: 26px;border: 2px outset;width: 20px;height: 20px;margin:10px auto;}
.li_status {line-height: 20px;font-size: 12px;border: 2px outset;width: 36px;height: 20px;margin:10px auto;}
.dragline_menu select{ width: 36px;margin: 10px 7px;font-weight:bold; }
.menuline{ width: 100%;height: 0;border-top:1px solid #000; }
.clicked { border-style: inset; }
.rightMenu { width: 60px;height: auto;background: #fff;position: absolute;list-style: none;border: 1px solid #ddd;padding:0;margin: 0;font-size: 12px;text-align: center;cursor: pointer;display: none;z-index:3 }
.rightMenu li:hover{ background: #666;color:#fff; }
.remark_point {cursor: pointer;}
.hide_point {opacity: 0;cursor: default;}
.remark_text {position: absolute;z-index: 5;border: none;background: #FFF5C0;padding: 5px;width: 100px;height: 20px;}